/*************************GENERAL***********************/
body {
	font-family: corbel, arial, sans-serif;
}

 a {
 	color: #000000;
 	text-decoration: none;
}

 /***************************HEADER***********************/
 #header {
background-color: #00ff00
} 
  h1 {
 	font-size: 50px;
 	font-weight: bold;
 	padding: 30px 40px 5px 10px;
 	margin: 0 0 40px 0;
 	text-align: center;
 	color: #006600;
 	text-transform: uppercase;
}  
 h2 {
 	font-size: 36px;
 	font-weight: bold;
 	padding: 30px 40px 5px 10px;
 	margin: 0;
 	text-align: center;
 	color: #006600;
}   
 #nav {
 	      background-color: #00ff99;
 	      text-align: center;
 	      text-transform: uppercase;
 	      list-style-type: none;
}
 #nav li {
 	     display: inline-block;
 	     padding: 6px 8px 6px 8px;
} 
#nav li a {
	     color: #0066ff;
} 
#nav li:hover {
	background-color: #ffffff;
}      



 /**************************CONTENT*********************/
 
 #content {
 	width: 600px;
 	margin: 30px auto;

 }   
 #content h4 {
 	border-bottom: #00ff99 solid 3px; 
 }     